In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Pisco,PE,2020-01-05 04:01:15,-13.71,-76.20,70.00,83,90,16.11
1,1,Matara,BI,2020-01-05 04:01:15,-3.48,29.48,56.64,87,53,2.48
2,2,Torbay,CA,2020-01-05 04:01:15,47.66,-52.73,30.00,86,75,9.17
3,3,Cabo San Lucas,MX,2020-01-05 03:59:58,22.89,-109.91,69.01,82,40,8.05
4,4,Carmen,PH,2020-01-05 04:01:16,7.36,125.71,86.00,74,40,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
temps

[70.0,
 56.64,
 30.0,
 69.01,
 86.0,
 71.6,
 14.0,
 76.08,
 44.6,
 57.99,
 89.01,
 25.0,
 73.0,
 84.16,
 36.0,
 59.45,
 32.0,
 66.2,
 75.2,
 0,
 0,
 64.4,
 69.87,
 27.25,
 75.42,
 48.2,
 47.03,
 0,
 0,
 3.52,
 62.01,
 73.99,
 51.8,
 0,
 45.0,
 87.8,
 77.0,
 53.6,
 82.99,
 0,
 36.0,
 84.06,
 0,
 59.72,
 81.36,
 14.61,
 87.8,
 55.0,
 78.8,
 48.31,
 46.0,
 75.29,
 80.6,
 33.01,
 4.39,
 45.0,
 72.93,
 44.6,
 4.73,
 0,
 51.8,
 0,
 69.01,
 0,
 64.99,
 1.4,
 89.51,
 39.2,
 79.88,
 3.18,
 68.0,
 34.74,
 78.8,
 50.0,
 75.34,
 86.0,
 41.0,
 56.01,
 23.4,
 75.99,
 91.0,
 5.23,
 81.0,
 35.6,
 70.0,
 35.01,
 84.96,
 47.19,
 72.0,
 53.6,
 61.65,
 68.0,
 71.11,
 82.29,
 84.49,
 63.0,
 7.09,
 0,
 80.6,
 78.8,
 49.21,
 53.6,
 32.76,
 46.99,
 30.0,
 60.58,
 73.4,
 32.0,
 91.4,
 44.15,
 57.2,
 77.0,
 48.2,
 74.43,
 70.86,
 50.0,
 0,
 81.45,
 52.0,
 55.85,
 63.21,
 75.0,
 0,
 0,
 68.0,
 78.8,
 44.6,
 11.98,
 57.99,
 78.39,
 0,
 8.62,
 62.6,
 66.0,
 46.4,
 64.78,
 86.83,
 91.0,
 79.59,
 30.2,
 82.4,
 41.97,
 57.04,
 63.7,
 46.99,
 14.81,
 4.46,
 80.6,
 80.6,
 72.01,
 52.0,
 0,
 91.4,
 28.0,
 78.8,
 26.6,
 17.47,
 50.0,
 75.99,
 35.6,
 28.4,
 81.32,
 84.7,
 81.28,
 12.2,
 29.21,
 91.51,
 100.4,
 46.4,
 3.2,
 53.98,
 39.04,
 67.75,
 15.8,
 39.88,
 0,
 82.4,
 69.12,
 61.39,
 83.61,
 72.5,
 6.8,
 24.8,
 90.25,
 0,
 64.18,
 73.99,
 3.85,
 58.78,
 0,
 77.13,
 53.37,
 0,
 64.18,
 84.38,
 0,
 59.0,
 70.97,
 86.0,
 20.41,
 77.77,
 75.2,
 70.03,
 10.8,
 61.21,
 71.76,
 61.34,
 68.76,
 45.0,
 35.6,
 27.81,
 67.64,
 75.2,
 77.79,
 27.01,
 60.8,
 54.66,
 37.99,
 4.01,
 71.78,
 0,
 0,
 0,
 50.0,
 48.0,
 62.8,
 58.89,
 60.76,
 65.7,
 100.4,
 67.59,
 84.2,
 80.33,
 68.0,
 35.01,
 16.9,
 19.8,
 0,
 73.26,
 66.0,
 62.01,
 46.0,
 86.0,
 62.74,
 29.41,
 0,
 75.99,
 17.33,
 52.38,
 28.4,
 48.4,
 62.6,
 64.4,
 27.61,
 66.88,
 0,
 55.0,
 54.27,
 26.51,
 73.36,
 78.8,
 82.4,
 71.22,
 0,
 78.21,
 46.4,
 24.01,
 25.39,
 14.63,
 19.4,
 57.72,
 30.2,
 52.0,
 78.13,
 51.8,
 71.6,
 64.0,
 79.77,
 48.99,
 39.0,
 0,
 26.38,
 24.46,
 39.2,
 28.4,
 79.7,
 9.7,
 71.44,
 0,
 64.09,
 42.01,
 82.4,
 69.58,
 37.4,
 55.0,
 30.25,
 33.01,
 25.0,
 42.85,
 66.78,
 25.92,
 43.75,
 30.96,
 61.0,
 91.4,
 35.6,
 46.99,
 65.82,
 36.0,
 76.03,
 35.01,
 100.4,
 0,
 78.8,
 73.87,
 78.8,
 77.09,
 44.6,
 72.01,
 12.07,
 60.8,
 26.6,
 48.99,
 60.44,
 64.4,
 52.34,
 68.72,
 41.0,
 37.99,
 78.8,
 79.81,
 46.99,
 9.36,
 31.39,
 65.35,
 39.99,
 62.6,
 44.83,
 28.99,
 0,
 75.34,
 20.1,
 25.0,
 69.8,
 30.0,
 25.77,
 75.88,
 20.5,
 77.59,
 14.25,
 57.0,
 59.0,
 41.0,
 70.9,
 70.88,
 60.8,
 30.0,
 88.02,
 34.77,
 37.0,
 39.0,
 46.0,
 13.26,
 63.37,
 71.6,
 3.2,
 59.0,
 23.4,
 67.51,
 32.0,
 45.0,
 19.35,
 77.0,
 33.4,
 21.96,
 80.35,
 6.98,
 24.3,
 73.0,
 66.7,
 57.2,
 51.8,
 73.0,
 51.01,
 15.76,
 28.13,
 70.72,
 64.85,
 84.24,
 0.0,
 6.33,
 89.94,
 23.41,
 57.58,
 76.08,
 23.65,
 56.55,
 78.8,
 33.8,
 22.75,
 77.18,
 46.0,
 61.45,
 45.01,
 14.9,
 80.6,
 64.4,
 55.85,
 49.69,
 5.0,
 0,
 36.99,
 29.43,
 0,
 41.0,
 80.65,
 11.25,
 24.8,
 85.24,
 24.8,
 75.2,
 21.2,
 46.4,
 48.0,
 29.26,
 39.2,
 0,
 39.2,
 84.72,
 63.97,
 76.5,
 37.99,
 30.2,
 39.0,
 78.8,
 68.0,
 37.4,
 82.4,
 17.01,
 31.15,
 27.0,
 69.35,
 78.8,
 15.17,
 43.12,
 24.8,
 25.0,
 70.0,
 76.44,
 17.42,
 71.6,
 68.0,
 89.01,
 57.2,
 28.53,
 27.39,
 0,
 76.35,
 79.56,
 75.2,
 55.71,
 70.48,
 49.28,
 18.95,
 48.2,
 35.01,
 71.01,
 50.0,
 37.51,
 37.99,
 90.0,
 30.0,
 78.8,
 44.6,
 0,
 69.8,
 10.69,
 64.35,
 76.68,
 80.6,
 0,
 6.8,
 82.4,
 74.62,
 59.0,
 74.62,
 51.8,
 68.0,
 1.6,
 94.28,
 91.0,
 72.07,
 27.0,
 0,
 0,
 28.99,
 75.11,
 80.46,
 33.8,
 83.03,
 75.99,
 72.0,
 66.99,
 68.95,
 68.0,
 54.0,
 6.37,
 57.78,
 87.8,
 50.0,
 93.99,
 42.01,
 86.0,
 69.57,
 36.0,
 78.8,
 33.8,
 86.72,
 44.37,
 80.67,
 34.03,
 62.6,
 46.99,
 32.0,
 23.0,
 39.0,
 62.6,
 80.94,
 21.2,
 22.12,
 48.0,
 69.8,
 63.23,
 79.77,
 20.43,
 69.01,
 0,
 76.26,
 81.0,
 95.0,
 52.0]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.

In [7]:
locations

       Lat     Lng
0   -13.71  -76.20
1    -3.48   29.48
2    47.66  -52.73
3    22.89 -109.91
4     7.36  125.71
..     ...     ...
536  50.72  136.64
537  -2.92  -39.92
538  11.14  123.72
539 -15.77  128.74
540  37.46 -122.43

[541 rows x 2 columns]

In [8]:
max_temp = [max(temp, 0) for temp in city_data_df["Max Temp"]]
# Assign the figure variable.
max_temp

[70.0,
 56.64,
 30.0,
 69.01,
 86.0,
 71.6,
 14.0,
 76.08,
 44.6,
 57.99,
 89.01,
 25.0,
 73.0,
 84.16,
 36.0,
 59.45,
 32.0,
 66.2,
 75.2,
 0,
 0,
 64.4,
 69.87,
 27.25,
 75.42,
 48.2,
 47.03,
 0,
 0,
 3.52,
 62.01,
 73.99,
 51.8,
 0,
 45.0,
 87.8,
 77.0,
 53.6,
 82.99,
 0,
 36.0,
 84.06,
 0,
 59.72,
 81.36,
 14.61,
 87.8,
 55.0,
 78.8,
 48.31,
 46.0,
 75.29,
 80.6,
 33.01,
 4.39,
 45.0,
 72.93,
 44.6,
 4.73,
 0,
 51.8,
 0,
 69.01,
 0,
 64.99,
 1.4,
 89.51,
 39.2,
 79.88,
 3.18,
 68.0,
 34.74,
 78.8,
 50.0,
 75.34,
 86.0,
 41.0,
 56.01,
 23.4,
 75.99,
 91.0,
 5.23,
 81.0,
 35.6,
 70.0,
 35.01,
 84.96,
 47.19,
 72.0,
 53.6,
 61.65,
 68.0,
 71.11,
 82.29,
 84.49,
 63.0,
 7.09,
 0,
 80.6,
 78.8,
 49.21,
 53.6,
 32.76,
 46.99,
 30.0,
 60.58,
 73.4,
 32.0,
 91.4,
 44.15,
 57.2,
 77.0,
 48.2,
 74.43,
 70.86,
 50.0,
 0,
 81.45,
 52.0,
 55.85,
 63.21,
 75.0,
 0,
 0,
 68.0,
 78.8,
 44.6,
 11.98,
 57.99,
 78.39,
 0,
 8.62,
 62.6,
 66.0,
 46.4,
 64.78,
 86.83,
 91.0,
 79.59,
 30.2,
 82.4,
 41.97,
 57.04,
 63.7,
 46.99,
 14.81,
 4.46,
 80.6,
 80.6,
 72.01,
 52.0,
 0,
 91.4,
 28.0,
 78.8,
 26.6,
 17.47,
 50.0,
 75.99,
 35.6,
 28.4,
 81.32,
 84.7,
 81.28,
 12.2,
 29.21,
 91.51,
 100.4,
 46.4,
 3.2,
 53.98,
 39.04,
 67.75,
 15.8,
 39.88,
 0,
 82.4,
 69.12,
 61.39,
 83.61,
 72.5,
 6.8,
 24.8,
 90.25,
 0,
 64.18,
 73.99,
 3.85,
 58.78,
 0,
 77.13,
 53.37,
 0,
 64.18,
 84.38,
 0,
 59.0,
 70.97,
 86.0,
 20.41,
 77.77,
 75.2,
 70.03,
 10.8,
 61.21,
 71.76,
 61.34,
 68.76,
 45.0,
 35.6,
 27.81,
 67.64,
 75.2,
 77.79,
 27.01,
 60.8,
 54.66,
 37.99,
 4.01,
 71.78,
 0,
 0,
 0,
 50.0,
 48.0,
 62.8,
 58.89,
 60.76,
 65.7,
 100.4,
 67.59,
 84.2,
 80.33,
 68.0,
 35.01,
 16.9,
 19.8,
 0,
 73.26,
 66.0,
 62.01,
 46.0,
 86.0,
 62.74,
 29.41,
 0,
 75.99,
 17.33,
 52.38,
 28.4,
 48.4,
 62.6,
 64.4,
 27.61,
 66.88,
 0,
 55.0,
 54.27,
 26.51,
 73.36,
 78.8,
 82.4,
 71.22,
 0,
 78.21,
 46.4,
 24.01,
 25.39,
 14.63,
 19.4,
 57.72,
 30.2,
 52.0,
 78.13,
 51.8,
 71.6,
 64.0,
 79.77,
 48.99,
 39.0,
 0,
 26.38,
 24.46,
 39.2,
 28.4,
 79.7,
 9.7,
 71.44,
 0,
 64.09,
 42.01,
 82.4,
 69.58,
 37.4,
 55.0,
 30.25,
 33.01,
 25.0,
 42.85,
 66.78,
 25.92,
 43.75,
 30.96,
 61.0,
 91.4,
 35.6,
 46.99,
 65.82,
 36.0,
 76.03,
 35.01,
 100.4,
 0,
 78.8,
 73.87,
 78.8,
 77.09,
 44.6,
 72.01,
 12.07,
 60.8,
 26.6,
 48.99,
 60.44,
 64.4,
 52.34,
 68.72,
 41.0,
 37.99,
 78.8,
 79.81,
 46.99,
 9.36,
 31.39,
 65.35,
 39.99,
 62.6,
 44.83,
 28.99,
 0,
 75.34,
 20.1,
 25.0,
 69.8,
 30.0,
 25.77,
 75.88,
 20.5,
 77.59,
 14.25,
 57.0,
 59.0,
 41.0,
 70.9,
 70.88,
 60.8,
 30.0,
 88.02,
 34.77,
 37.0,
 39.0,
 46.0,
 13.26,
 63.37,
 71.6,
 3.2,
 59.0,
 23.4,
 67.51,
 32.0,
 45.0,
 19.35,
 77.0,
 33.4,
 21.96,
 80.35,
 6.98,
 24.3,
 73.0,
 66.7,
 57.2,
 51.8,
 73.0,
 51.01,
 15.76,
 28.13,
 70.72,
 64.85,
 84.24,
 0.0,
 6.33,
 89.94,
 23.41,
 57.58,
 76.08,
 23.65,
 56.55,
 78.8,
 33.8,
 22.75,
 77.18,
 46.0,
 61.45,
 45.01,
 14.9,
 80.6,
 64.4,
 55.85,
 49.69,
 5.0,
 0,
 36.99,
 29.43,
 0,
 41.0,
 80.65,
 11.25,
 24.8,
 85.24,
 24.8,
 75.2,
 21.2,
 46.4,
 48.0,
 29.26,
 39.2,
 0,
 39.2,
 84.72,
 63.97,
 76.5,
 37.99,
 30.2,
 39.0,
 78.8,
 68.0,
 37.4,
 82.4,
 17.01,
 31.15,
 27.0,
 69.35,
 78.8,
 15.17,
 43.12,
 24.8,
 25.0,
 70.0,
 76.44,
 17.42,
 71.6,
 68.0,
 89.01,
 57.2,
 28.53,
 27.39,
 0,
 76.35,
 79.56,
 75.2,
 55.71,
 70.48,
 49.28,
 18.95,
 48.2,
 35.01,
 71.01,
 50.0,
 37.51,
 37.99,
 90.0,
 30.0,
 78.8,
 44.6,
 0,
 69.8,
 10.69,
 64.35,
 76.68,
 80.6,
 0,
 6.8,
 82.4,
 74.62,
 59.0,
 74.62,
 51.8,
 68.0,
 1.6,
 94.28,
 91.0,
 72.07,
 27.0,
 0,
 0,
 28.99,
 75.11,
 80.46,
 33.8,
 83.03,
 75.99,
 72.0,
 66.99,
 68.95,
 68.0,
 54.0,
 6.37,
 57.78,
 87.8,
 50.0,
 93.99,
 42.01,
 86.0,
 69.57,
 36.0,
 78.8,
 33.8,
 86.72,
 44.37,
 80.67,
 34.03,
 62.6,
 46.99,
 32.0,
 23.0,
 39.0,
 62.6,
 80.94,
 21.2,
 22.12,
 48.0,
 69.8,
 63.23,
 79.77,
 20.43,
 69.01,
 0,
 76.26,
 81.0,
 95.0,
 52.0]

In [9]:
fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Carmen,PH,2020-01-05 04:01:16,7.36,125.71,86.00,74,40,6.93
7,7,Rikitea,PF,2020-01-05 04:01:17,-23.12,-134.97,76.08,80,67,18.99
10,10,Busselton,AU,2020-01-05 04:00:05,-33.64,115.35,89.01,28,27,8.99
13,13,Butaritari,KI,2020-01-05 04:01:19,3.07,172.79,84.16,78,62,11.83
18,18,Georgetown,GY,2020-01-05 04:01:20,6.80,-58.16,75.20,94,50,4.70
24,24,Conceicao Do Coite,BR,2020-01-05 04:01:22,-11.56,-39.28,75.42,83,100,5.77
35,35,Victoria,BN,2020-01-05 04:00:17,5.28,115.24,87.80,62,75,3.36
36,36,Salalah,OM,2020-01-05 04:01:26,17.01,54.10,77.00,65,75,12.75
38,38,Australind,AU,2020-01-05 04:01:26,-33.28,115.72,82.99,26,27,15.01
41,41,Hithadhoo,MV,2020-01-05 04:00:46,-0.60,73.08,84.06,65,30,6.20

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       1
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
preferred_cities_df.count()

City_ID       111
City          111
Country       110
Date          111
Lat           111
Lng           111
Max Temp      111
Humidity      111
Cloudiness    111
Wind Speed    111
dtype: int64

In [23]:
preferred_cities_df.notnull().sum()

City_ID       111
City          111
Country       110
Date          111
Lat           111
Lng           111
Max Temp      111
Humidity      111
Cloudiness    111
Wind Speed    111
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
4               Carmen      PH     86.00   7.36  125.71
7              Rikitea      PF     76.08 -23.12 -134.97
10           Busselton      AU     89.01 -33.64  115.35
13          Butaritari      KI     84.16   3.07  172.79
18          Georgetown      GY     75.20   6.80  -58.16
24  Conceicao Do Coite      BR     75.42 -11.56  -39.28
35            Victoria      BN     87.80   5.28  115.24
36             Salalah      OM     77.00  17.01   54.10
38          Australind      AU     82.99 -33.28  115.72
41           Hithadhoo      MV     84.06  -0.60   73.08

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()  
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Carmen,PH,86.00,7.36,125.71,Mr And Mrs Asilum
7,Rikitea,PF,76.08,-23.12,-134.97,Pension Maro'i
10,Busselton,AU,89.01,-33.64,115.35,Observatory Guest House
13,Butaritari,KI,84.16,3.07,172.79,Isles Sunset Lodge
18,Georgetown,GY,75.20,6.80,-58.16,Kanhai's Center
24,Conceicao Do Coite,BR,75.42,-11.56,-39.28,Pousada do Sisal
35,Victoria,BN,87.80,5.28,115.24,Tiara Labuan Hotel
36,Salalah,OM,77.00,17.01,54.10,HAMDAN PLAZA HOTEL
38,Australind,AU,82.99,-33.28,115.72,Paris Road 5
41,Hithadhoo,MV,84.06,-0.60,73.08,Scoop Guest House

In [40]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [41]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))